# secrets
.env
*.env
secrets/
certs/
*.pem
*.key
*.crt
letsencrypt/

# runtime
*.log
*.bak

# docker(local overrides)
docker-compose.override.yml
docker-compose.override.*.yml

# editors
.vscode/
.pycharm/
.idea/

.env.*
